.comment { 
    margin-top: 1.5rem; /* Espaçamento superior */
    display: flex; /* Usar flexbox para layout */
    gap: 1rem; /* Espaçamento entre itens */
}

.comment img {
    width: 3rem; /* Largura da imagem */
    height: 3rem; /* Altura da imagem */
    border-radius: 5px; /* Tornar a imagem circular */
}

.commentBox {
    flex: 1; /* Ocupa o espaço restante */
}

.commentContent {
    background-color: var(--gray-700); /* Cor de fundo */
    border-radius: 8px; /* Bordas arredondadas */
    padding: 1rem; /* Espaçamento interno */
}

.commentContent header {
    display: flex; /* Usar flexbox para layout */
    align-items: center; /* Alinhar itens verticalmente ao centro */
    justify-content: space-between; /* Espaçar itens igualmente */
}

.authorAndTime  strong {
    display: block; /* Exibir como bloco */
    font-size: 0.875rem; /* Tamanho da fonte */
    line-height: 1.6; /* Altura da linha */
}

.authorAndTime time {
    display: block; /* Exibir como bloco */
    font-size: 0.75rem; /* Tamanho da fonte */
    line-height: 1.6; /* Altura da linha */
    color: var(--gray-400); /* Cor do texto */
}

.commentContent header button {
    background: transparent; /* Fundo transparente */
    border: 0; /* Remover borda */
    color: var(--gray-400); /* Cor do texto */
    cursor: pointer; /* Cursor de ponteiro */
    line-height: 0; /* Altura da linha */
}

.commentContent header button:hover {
    color: var(--red-300); /* Cor do texto ao passar o mouse */
}

.commentContent p {
    margin-top: 1rem; /* Espaçamento superior */
    color: var(--gray-300); /* Cor do texto */
}

.commentBox footer {
    margin-top: 1rem; /* Espaçamento superior */
}

.commentBox footer button {
    background: transparent; /* Fundo transparente */
    border: 0; /* Remover borda */
    color: var(--gray-400); /* Cor do texto */
    cursor: pointer; /* Cursor de ponteiro */

    font-size: 0.875rem; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */

    display: flex; /* Usar flexbox para layout */
    align-items: center; /* Alinhar itens verticalmente ao centro */

    border-radius: 2px; /* Bordas arredondadas */
}

.commentBox footer button:hover {
    color: var(--green-300); /* Cor do texto ao passar o mouse */
}

.commentBox footer button svg {
    margin-right: 0.5rem; /* Espaçamento à esquerda do ícone */
}

.commentBox footer button span::before{
    padding: 0 0.25rem; /* Espaçamento ao redor do separador */
    content: '\2022'; /* Conteúdo do separador */
}