.post { 
    background-color: var(--gray-800); /* Cor de fundo do post */
    border-radius: 8px; /* Bordas arredondadas */
    padding: 2.5rem; /* Espaçamento interno */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidade */

}

.post + .post {
    margin-top: 2rem; /* Espaçamento entre posts */
}

.content {
    margin-top: 1rem; /* Espaçamento acima do conteúdo */
}

.content p {
    margin-top: 1rem; /* Espaçamento acima dos parágrafos */
}

.content a {
    font-weight: bold; /* Negrito para links */
    color: var(--green-500); /* Cor dos links */
    text-decoration: none; /* Remover sublinhado */
}

.content a:hover {
    color: var(--green-300); /* Cor dos links ao passar o mouse */
}

.post > header { /* Seleciona o header diretamente dentro de .post */
    display: flex; /* Usar flexbox para layout */
    align-items: center; /* Alinhar itens verticalmente ao centro */
    justify-content: space-between; /* Espaçar itens igualmente */
}

.post > header time {
    font-size: 0.875rem; /* Tamanho da fonte */
    color: var(--gray-400); /* Cor do texto */
}

.author{
    display: flex; /* Usar flexbox para layout */
    align-items: center; /* Alinhar itens verticalmente ao centro */
    gap: 1rem; /* Espaçamento entre itens */
}

.author img {
    width: calc(3rem + 12px); /* Largura da imagem */
    height: calc(3rem + 12px); /* Altura da imagem */
    border-radius: 5px; /* Tornar a imagem circular */
    border: 4px solid var(--gray-800); /* Borda ao redor da imagem */
    outline: 2px solid var(--green-500); /* Contorno ao redor da borda */
}

.authorInfo strong {
    display: block; /* Exibir como bloco */
    color: var(--gray-100); /* Cor do texto */
    font-size: 1.6rem; /* Tamanho da fonte */
}

.authorInfo span {
    display: block; /* Exibir como bloco */
    font-size: 0.875rem; /* Tamanho da fonte */
    color: var(--gray-400); /* Cor do texto */
    line-height: 1.6; /* Altura da linha */
}

.commentForm {
    width: 100%; /* Largura total */
    margin-top: 1.5rem; /* Espaçamento superior */
    border-top: 1px solid var(--gray-600); /* Linha superior */
    padding-top: 1.5rem; /* Espaçamento interno superior */
}

.commentForm > strong {
    color: var(--gray-100); /* Cor do texto */
    line-height: 1.6; /* Altura da linha */
}

.commentForm textarea {
    width: 100%; /* Largura total */
    background-color: var(--gray-900); /* Cor de fundo */
    border: 0; /* Remover borda */
    resize: none; /* Desabilitar redimensionamento */
    height: 6rem; /* Altura do textarea */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 8px; /* Bordas arredondadas */
    color: var(--gray-100); /* Cor do texto */
    line-height: 1.4; /* Altura da linha */
    margin-top: 1rem; /* Espaçamento superior */
}


.commentForm footer{
    visibility: hidden; /* Botão inicialmente invisível */
    max-height: 0; /* Altura máxima inicial */
}

.commentForm:focus-within footer {
    visibility: visible; /* Tornar o rodapé visível quando o textarea estiver focado */
    max-height: none; /* Remover restrição de altura */
}

.commentForm button[type="submit"] {
    padding: 1rem 1.5rem; /* Espaçamento interno */
    margin-top: 1rem; /* Espaçamento superior */ 
    border-radius: 8px; /* Bordas arredondadas */
    border: 0; /* Remover borda */
    background-color: var(--green-500); /* Cor de fundo */
    color: var(--white); /* Cor do texto */
    font-weight: bold; /* Negrito */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */

    transition: background-color 0.1s; /* Transição suave para mudança de cor */

}


.commentForm button[type="submit"]:not(:disnabled):hover {
    background-color: var(--green-300); /* Cor de fundo ao passar o mouse */
}

.commentForm button[type="submit"]:disabled {
    opacity: 0.7; /* Opacidade reduzida para indicar desabilitado */
    cursor: not-allowed; /* Cursor de não permitido */
}

.commentList {
    margin-top: 2rem; /* Espaçamento superior */
}